<section class="chart">
<div class="container">
  <div class="row">
       <div class="col-md-6">
         <h5>Аналітика споживання горячої води</h5>
         <canvas #hotwater></canvas>
        </div>
       <div class="col-md-6">
          <h5>Аналітика споживання холодної води</h5>
          <canvas #coolwater></canvas>
         </div>
  </div>
  <div class="row">
    <div class="col-md-6">
       <h5>Аналітика споживання електроенергії</h5>
       <canvas #electric ></canvas>
    </div>
    <div class="col-md-6">
      <h5>Аналітика споживання опалення</h5>
      <canvas #heat ></canvas>
    </div>
  </div>
</div>
</section>
