<div class="container text">
  <div class="row ">
    <div class="col-12 white ">
      <h5>Об’єднання співвласників багатоквартирного будинку (ОСББ)</h5>


       <p >Створення та діяльність об’єднання співвласників багатоквартирного будинку (далі ОСББ) регулюється Законом України «Про об’єднання співвласників багатоквартирного будинку» № 2866-ІІ від 19.11.2001р. (далі Закон № 2866-ІІ).

        Відповідно до ст. 1 Закону України № 2866-ІІ об’єднання співвласників багатоквартирного будинку – юридична особа, створена власниками квартир та/або нежитлових приміщень багатоквартирного будинку для сприяння використанню їхнього власного майна та управління, утримання і використання спільного майна.

        План створення ОСББ

        1. Створення ініціативної групи, яка повинна складатися не менше як з трьох власників квартир або не житлових приміщень (ст. 6 Закону № 2866-ІІ)

        2. Скликання установчих зборів зі створення ОСББ.

        Повідомлення про проведення установчих зборів направляється ініціативною групою не менше ніж за 14 днів до дати проведення установчих зборів. Повідомлення направляється в письмовій формі і вручається кожному співвласнику під розписку або шляхом поштового відправлення (рекомендованим листом). У повідомленні про проведення установчих зборів зазначається, з чиєї ініціативи скликаються збори, місце і час проведення, проект порядку денного.

        Кожний співвласник (його представник) під час голосування має кількість голосів, пропорційну до частки загальної площі квартири або нежитлового приміщення співвласника у загальній площі всіх квартир та нежитлових приміщень, розташованих у багатоквартирному будинку.

        Рішення вважається прийнятим, якщо за нього проголосувало більше половини загальної кількості усіх співвласників.

        Якщо в результаті проведення установчих зборів для прийняття рішення не набрано кількості голосів "за" або "проти", встановленої частиною дев'ятою цієї статті, проводиться письмове опитування співвласників, які не голосували на установчих зборах. Письмове опитування співвласників проводиться протягом 15 календарних днів з дати проведення установчих зборів. Якщо протягом зазначеного строку необхідну кількість голосів "за" не набрано, рішення вважається неприйнятим.

        Рішення приймається шляхом поіменного голосування. Під час підрахунку голосів враховуються і голоси, подані співвласниками під час проведення установчих зборів, і голоси, подані під час письмового опитування. Рішення оформляється особистим підписом кожного, хто проголосував, із зазначенням результату голосування ("за" чи "проти").

        Установчі збори приймають рішення про створення об'єднання і затверджують його статут.

        Державна реєстрація об'єднання (асоціації) проводиться у порядку, встановленому законом для державної реєстрації юридичних осіб. Об'єднання (асоціація) вважається утвореним з дня його державної реєстрації.

        3. Затвердження статуту ОСББ.

        Статут об'єднання складається відповідно до типового статуту, який затверджується центральним органом виконавчої влади, що забезпечує формування державної житлової політики і політики у сфері житлово-комунального господарства (ст. 7 Закону № 2866-ІІ).

        4. Обрання статутних органів об’єднання.

        Органами управління об'єднання є загальні збори співвласників, правління, ревізійна комісія об'єднання.

        5. Державна реєстрація ОСББ.

        Реєстрація ОСББ проводиться відповідно до вимог постанови Кабінету Міністрів України «Про реалізацію Закону України «Про об’єднання співвласників багатоквартирного будинку» № 1521 від 11.10.2002 р.

        Державна реєстрація об'єднань співвласників багатоквартирного будинку (далі - об'єднання) проводиться виконавчим органом міської, районної у місті ради, районною, районною у мм. Києві і Севастополі державною адміністрацією (далі - органи державної реєстрації) за місцем знаходження багатоквартирного будинку.

        Для державної реєстрації об'єднання уповноважена установчими зборами особа (далі - заявник) подає безпосередньо або надсилає поштою (рекомендованим листом) до органу державної реєстрації:

        1) реєстраційну картку, яка одночасно є заявою про державну реєстрацію об'єднання, оформлену за зразком згідно з додатком 1 до цього Порядку;

        2) протокол установчих зборів, на яких було прийнято рішення про створення об'єднання та затвердження його статуту;

        3) два примірники оригіналу і п'ять копій статуту об'єднання, оформлені згідно з вимогами законодавства;

        4) список членів об'єднання.

        Державна реєстрація об'єднань проводиться безоплатно.

        Об'єднання вважається юридичною особою з моменту видачі свідоцтва про державну реєстрацію.

        Додатково роз’яснюємо, що відповідно до ст.7 Закону України “Про об’єднання співвласників багатоквартирного будинку” (з урахуванням змін, внесених Законом України “Про особливості здійснення права власності у багатоквартирному будинку”), “статут об’єднання складається відповідно до типового статуту, який затверджується центральним органом виконавчої влади, що забезпечує формування державної житлової політики і політики у сфері житлово-комунального господарства”.

        Типовий статут, затверджений наказом Держжитлокомунгоспу № 141 від 27.08.2003р., вже не відповідає Закону України “Про об’єднання співвласників багатоквартирного будинку” з урахуванням внесених до нього змін. При цьому нова редакція Типового статуту досі не затверджена.

        Тому, якщо при створенні нового ОСББ після 1 липня затвердити статут відповідно до чинного Типового статуту, це не відповідатиме закону про ОСББ. Якщо ж після 1 липня затвердити на установчих зборах статут, який відповідатиме закону, то він не відповідатиме Типовому статуту. Звісно, закон має вищу юридичну силу порівняно з наказом Держжитлокомунгоспу. Однак на практиці можна спрогнозувати, що в обох випадках недоброзичливці новоствореного ОСББ отримують формальний привід оскаржувати зміст статуту і навіть правомірність створення самого ОСББ.</p>


    </div>

  </div>

</div>
