<menu>
  <div class="row">
    <div class="col-md-3 menu-left rgba-grey-strong">
        <h5>Лічильники</h5>
    <nav class="nav flex-column  lighten-3 py-4 mb-r font-weight-bold">
      <a class="nav-link active text-black-50" [routerLink]="'coolwater'"  routerLinkActive="active"> Холодної води</a>
      <a class="nav-link text-black-50"  [routerLink]="'hotwater'" routerLinkActive="active"> Теплої води</a>
      <a class="nav-link text-black-50" [routerLink]="'centalheating'" routerLinkActive="active" > Опалення</a>
      <a class="nav-link text-black-50" [routerLink]="'electricity'" routerLinkActive="active">Електроенергії</a>
    </nav>

    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</menu>
