<div class="container text">
  <div class="row ">
    <div class="col-12 white ">
      <h5>Перелік нормативно-правових актів, які регулюють створення та діяльність об’єднання співвласників багатоквартирного будинку</h5>
        <ul>
          <li>Закон України «Про об’єднання співвласників багатоквартирного будинку» № 2866-ІІ від 29.11.2001 р.</li>
          <li>Закон України «Про житлово-комунальні послуги» № 1875-IV від 24.06.2004 р.</li>
          <li>Закон України «Про державну реєстрацію юридичних осіб та фізичних осіб – підприємців» № 755-IV від 15.05.2003 р.</li>
          <li>Закону України «Про особливості здійснення права власності у багатоквартирному будинку» № 417-VIII від 14.05.2015 р.</li>
          <li>Постанова Кабінету Міністрів України «Про реалізацію Закону України «Про об’єднання співвласників багатоквартирного будинку» № 1521 від 11.10.2002 р.</li>
          <li>Постанова Кабінету Міністрів України «Про затвердження Правил надання послуг з централізованого опалення, постачання холодної та гарячої води і водовідведення
             та типового договору про надання послуг з централізованого опалення, постачання холодної та гарячої води і водовідведення» № 630 від 21.07.2005 р.</li>
          <li>Постанова Кабінету Міністрів України « Про забезпечення єдиного підходу до формування тарифів на житлово-комунальні послуги» №869 від 01.06.2011 р.</li>
          <li>Наказ Державного комітету України з питань житлово-комунального господарства «Про затвердження Типового статуту об’єднання співвласників багатоквартирного
              будинку та Типового договору відносин власників житлових і нежитлових приміщень та управителя» № 141 від 27.08.2003 р.</li>
          <li>Лист державного комітету України з питань регуляторної політики та підприємництва «Про надання роз'яснень щодо здійснення державної реєстрації об'єднання співвласників
              багатоквартирного будинку» №15078 від 08.12.2009 р.</li>
        </ul>


    </div>

  </div>

</div>
